<table mat-table [dataSource]="dataSet" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="">Nom</th>
    <td mat-cell *matCellDef="let user"><a routerLink="/users/{{user.id}}" mat-button>{{user.name}}</a></td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Email</th>
    <td mat-cell *matCellDef="let user" class="hide-on-mobile">{{user.email}}</td>
  </ng-container>

  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Lié a un client</th>
    <td mat-cell *matCellDef="let user" class="hide-on-mobile">
      <mat-checkbox disabled [ngModel]="!!user.client"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="activated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Compte activé</th>
    <td mat-cell *matCellDef="let user" class="hide-on-mobile">
      <mat-checkbox disabled [ngModel]="user.activated"></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let user; columns: columnsToDisplay"></tr>

</table>
