<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>Mettre à jour "{{product.name}}"</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="update()">
      <p>
        <mat-form-field>
          <mat-label>Nom du produit</mat-label>
          <input type="text" matNativeControl required placeholder="Nom du produit" [(ngModel)]="product.name" name="name">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Prix de base</mat-label>
          <input type="number" min="0" matNativeControl required placeholder="Prix de base" [(ngModel)]="product.price" name="price">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Prix adhérents</mat-label>
          <input type="number" min="0" matNativeControl required placeholder="Prix adhérent" [(ngModel)]="product.price_red" name="discount">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Type de produit</mat-label>
          <mat-select [(ngModel)]="product.type" required name="type">
            <mat-option [value]="productType.PRODUCT_FOOD">Nourriture / Boisson</mat-option>
            <mat-option [value]="productType.PRODUCT_EXTRA">Extra</mat-option>
            <mat-option [value]="productType.SUBSCRIPTION">Adhésion</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-checkbox [(ngModel)]="product.available" name="available">Disponible</mat-checkbox>
      </p>

      <button mat-raised-button color="primary" type="submit">Mettre à jour</button>
    </form>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="goBack()">Retour</button>
    <button mat-raised-button color="warn" (click)="delete()">Supprimer</button>
  </mat-card-actions>
</mat-card>
