<mat-card>
  <mat-card-header>
    <mat-card-title>Ajouter un produit</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field>
        <mat-label>Nom du produit</mat-label>
        <input type="text" matNativeControl required placeholder="Nom du produit" [(ngModel)]="product.name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prix de base</mat-label>
        <input type="number" min="0" matNativeControl required placeholder="Prix de base" [(ngModel)]="product.price">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type de produit</mat-label>
        <mat-select [(ngModel)]="product.type" required>
          <mat-option [value]="productType.PRODUCT_FOOD">Nourriture / Boisson</mat-option>
          <mat-option [value]="productType.PRODUCT_EXTRA">Extra</mat-option>
          <mat-option [value]="productType.SUBSCRIPTION">Adhésion</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pourcentage de réduction</mat-label>
        <input type="number" min="0" max="100" matNativeControl required placeholder="Pourcentage de réduction" [(ngModel)]="product.discount">
      </mat-form-field>
    </p>

    <p>
      Prix des adhérents : {{product.price - product.price * product.discount / 100 | currency:'EUR':'symbol':"1.2-2"}}
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Ajouter ce produit</button>
  </mat-card-actions>
</mat-card>
