<table mat-table [dataSource]="dataSet" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="">Nom</th>
    <td mat-cell *matCellDef="let product"><a routerLink="/products/{{product.id}}" mat-button>{{product.name}}</a></td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Prix</th>
    <td mat-cell *matCellDef="let product" class="hide-on-mobile">{{product.price | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Prix adhérent</th>
    <td mat-cell *matCellDef="let product" class="hide-on-mobile">{{product.price_red | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="available">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Disponible</th>
    <td mat-cell *matCellDef="let product" class="hide-on-mobile">
      <mat-checkbox [checked]="product.available" disabled></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="sellable">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="">En vente</th>
    <td mat-cell *matCellDef="let product">
      <mat-checkbox [checked]="product.sellable" disabled></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let product; columns: columnsToDisplay"></tr>
</table>
