<table mat-table [dataSource]="dataSet" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="">Nom</th>
    <td mat-cell *matCellDef="let product"><a routerLink="/products/{{product.id}}" mat-button>{{product.name}}</a></td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Prix</th>
    <td mat-cell *matCellDef="let product" class="hide-on-mobile">{{product.price | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Prix adhérent</th>
    <td mat-cell *matCellDef="let product" class="hide-on-mobile">{{product.price_red | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="available">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="hide-on-mobile">Disponibilité</th>
    <td mat-cell *matCellDef="let product" class="hide-on-mobile">
      <button mat-icon-button (click)="toggleAvailability(product)">
        <mat-icon>{{product.available ? "check_box" : "check_box_outline_blank"}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let product; columns: columnsToDisplay"></tr>
</table>
