<mat-toolbar role="heading" color="primary">
  <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
  <div *ngIf="isLoggedIn()">
    <a mat-button routerLink="/clients" routerLinkActive="active">Clients</a>
    <a mat-button routerLink="/products" routerLinkActive="active">Produits</a>
    <a mat-button routerLink="/orders" routerLinkActive="active">Commandes</a>
    <a mat-button routerLink="/overview" routerLinkActive="active">Aperçu</a>
  </div>
  <span class="spacer"></span>
  <a *ngIf="!isLoggedIn(); else loggedIn" mat-button routerLink="/login" routerLinkActive="active">Connexion</a>
  <ng-template #loggedIn>
    <button mat-button (click)="logout()">Déconnexion</button>
  </ng-template>
</mat-toolbar>
