<app-loading *ngIf="isLoading"></app-loading>
<mat-tab-group>
  <mat-tab label="Liste">
    <app-client-search (clientSelected)="openClientDetails($event)"></app-client-search>
  </mat-tab>
  <mat-tab label="Ajouter">
    <mat-card>
      <mat-card-title>Ajouter un client</mat-card-title>
      <mat-card-content>
        <form (submit)="save()">
          <div>
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input type="text" matNativeControl required placeholder="Nom du client" [(ngModel)]="client.name" name="name">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <button mat-raised-button color="primary" type="submit">Créer</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
