<mat-card>
  <mat-card-title>Se connecter</mat-card-title>
  <mat-card-content>
    <form (submit)="login($event)">
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matNativeControl [(ngModel)]="loginDto.email" name="email" placeholder="Email" autocomplete="username">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input type="password" matNativeControl [(ngModel)]="loginDto.password" name="password" placeholder="Mot de passe" autocomplete="current-password">
        </mat-form-field>
      </div>

      <div class="space flex-col lg:flex-row">
        <button mat-raised-button color="primary" type="submit" class="w-full sm:w-fit">Connexion</button>
        <button mat-button color="accent" type="button" routerLink="/reset">Mot de passe oublié ?</button>
        <button mat-button color="accent" routerLink="/register" type="button">Créer un compte</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
