.mat-list-item ~ .mat-list-item {
  @apply mt-2;
}

.active {
  @apply border-b-zinc-200 border-b-2;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.sidenav::ng-deep > div {
  overflow: visible;
}
