<table mat-table [dataSource]="dataSet" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let order"><a routerLink="/orders/{{order.id}}" mat-button>{{order.id}}</a></td>
  </ng-container>

  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef>Client</th>
    <td mat-cell *matCellDef="let order">
      <a *ngIf="order.client" routerLink="/clients/{{order.client.id}}" mat-button>{{ order.client.name }}</a>
      <a *ngIf="!order.client" mat-button>??</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="lines">
    <th mat-header-cell *matHeaderCellDef>Produit(s)</th>
    <td mat-cell *matCellDef="let order">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Contient {{countProducts(order.orderLines)}} produit(s)</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let line of order.orderLines">
          {{line.quantity}}x
          <a *ngIf="!line.product" mat-button>??</a>
          <a *ngIf="line.product" routerLink="/products/{{line.product.id}}" mat-button>{{ line.product.name }}</a>
        </div>
      </mat-expansion-panel>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="">Total de la commande</th>
    <td mat-cell *matCellDef="let order">{{order.total | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="">Statut</th>
    <td mat-cell *matCellDef="let order">
      <span *ngIf="order.editable">Non confirmé</span>
      <span *ngIf="!order.editable && !order.refunded">Payé</span>
      <span *ngIf="!order.editable && order.refunded">Remboursé</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let order">{{order.createdAt | date:"dd/MM/yyyy"}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let order; columns: columnsToDisplay"></tr>

</table>
<mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
