<ng-container *ngIf="client">
    <mat-expansion-panel [disabled]="!selected.length" #expansionPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>Produit(s) sélectionné(s)</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let product of selected" class="flex line">
        <span>{{product.name}} - ({{totalForLine(product) | currency}})</span>
        <div class="line-buttons">
          <button mat-mini-fab color="accent" (click)="decrementLine(product)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-flat-button (click)="resetLine(product)">{{quantityForLine(product)}}</button>
          <button mat-mini-fab color="primary" (click)="incrementLine(product)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="primary"
                matBadgeSize="small"
                matBadge="&#8203;" matBadgeColor="warn" [matBadgeHidden]="!dtoHasChanged"
                (click)="confirm()">Confirmer un total de {{total() | currency}}</button>
      </mat-action-row>
    </mat-expansion-panel>
  <!--  <mat-selection-list [(ngModel)]="selected">-->
  <!--    <ng-template #productList let-type="type" let-header="header">-->
  <!--      <h3 matSubheader>{{header}}</h3>-->
  <!--      <mat-list-option *ngFor="let product of orderBy(type)" [value]="product">-->
  <!--        <div class="flex">-->
  <!--          <span>{{ product.name }}</span>-->
  <!--          <span>{{(isSubscribed() ? product.price_red : product.price) | currency }}</span>-->
  <!--        </div>-->
  <!--      </mat-list-option>-->
  <!--    </ng-template>-->
  <!--    <ng-container *ngTemplateOutlet="productList; context: {header: 'Produits', type: productType.PRODUCT_FOOD}"></ng-container>-->
  <!--    <mat-divider></mat-divider>-->
  <!--    <ng-container *ngTemplateOutlet="productList; context: {header: 'Extra', type: productType.PRODUCT_EXTRA}"></ng-container>-->
  <!--    <mat-divider></mat-divider>-->
  <!--    <ng-container *ngTemplateOutlet="productList; context: {header: 'Adhésions', type: productType.SUBSCRIPTION}"></ng-container>-->
  <!--  </mat-selection-list>-->

  <ng-template #productList let-type="type" let-header="header">
    <div class="grid-container">
      <mat-card class="product-card" *ngFor="let product of orderBy(type)">
        <mat-card-title (click)="toggleProductSelection(product)">{{ product.name }}</mat-card-title>
        <img mat-card-image class="max-w-none"
             [src]="product.image" alt="" (click)="toggleProductSelection(product)">
        <mat-card-content (click)="toggleProductSelection(product)">
          <div class="flex">
            <span>{{(isSubscribed() ? product.price_red : product.price) | currency }}</span>
            <strong *ngIf="totalForLine(product) > 0">Total: {{totalForLine(product) | currency}}</strong>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="line-buttons">
            <button mat-icon-button color="accent" [disabled]="!isProductSelected(product)" (click)="decrementLine(product)">
              <mat-icon>remove</mat-icon>
            </button>
            <button mat-flat-button (click)="resetLine(product)">{{quantityForLine(product)}}</button>
            <button mat-icon-button color="primary" (click)="incrementLine(product)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar [value]="isProductSelected(product) ? 100 : 0"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="productList; context: {header: 'Produits', type: productType.PRODUCT_FOOD}"></ng-container>
  <ng-container *ngTemplateOutlet="productList; context: {header: 'Extra', type: productType.PRODUCT_EXTRA}"></ng-container>
  <ng-container *ngTemplateOutlet="productList; context: {header: 'Adhésions', type: productType.SUBSCRIPTION}"></ng-container>
</ng-container>
