<mat-tab-group>
  <mat-tab label="Liste">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Produits</mat-panel-title>
        </mat-expansion-panel-header>
        <app-product-table [products]="filterBy(productTypes.PRODUCT_FOOD)" (productUpdated)="updateProduct($event)"></app-product-table>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Extras</mat-panel-title>
        </mat-expansion-panel-header>
        <app-product-table [products]="filterBy(productTypes.PRODUCT_EXTRA)" (productUpdated)="updateProduct($event)"></app-product-table>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Adhésions</mat-panel-title>
        </mat-expansion-panel-header>
        <app-product-table [products]="filterBy(productTypes.SUBSCRIPTION)" (productUpdated)="updateProduct($event)"></app-product-table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Ajouter">
    <ng-container [ngTemplateOutlet]="create"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #create>
  <mat-card>
    <mat-card-title>Ajouter un produit</mat-card-title>
    <mat-card-content>
      <form (submit)="save()">
        <mat-form-field>
          <mat-label>Nom du produit</mat-label>
          <input type="text" matNativeControl required placeholder="Nom du produit" [(ngModel)]="product.name" name="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prix de base</mat-label>
          <input type="number" min="0" matNativeControl required placeholder="Prix de base" [(ngModel)]="product.price" name="price">
        </mat-form-field>

        <mat-form-field>

          <mat-label>Prix adhérent</mat-label>
          <input type="number" min="0" matNativeControl required placeholder="Prix adhérent" [(ngModel)]="product.price_red" name="discount">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type de produit</mat-label>
          <mat-select [(ngModel)]="product.type" required name="type">
            <mat-option [value]="productTypes.PRODUCT_FOOD">Nourriture / Boisson</mat-option>
            <mat-option [value]="productTypes.PRODUCT_EXTRA">Extra</mat-option>
            <mat-option [value]="productTypes.SUBSCRIPTION">Adhésion</mat-option>
          </mat-select>
        </mat-form-field>

        <app-file-upload [(fileString)]="product.image"></app-file-upload>

        <div>
          <button mat-raised-button color="primary" type="submit">Ajouter ce produit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
