<mat-card *ngIf="client">
  <mat-card-header>
    <mat-card-title>Mettre à jour le solde de "{{client.name}}"</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="updateBalance()">

      <p>Solde: {{client.balance | currency:"EUR":"symbol":"2.2-2"}}</p>

      <p>
        <mat-form-field>
          <mat-label>Somme à {{selectedPaymentType !== paymentType.BALANCE ? "ajouter" : "retirer "}}</mat-label>
          <input type="number" matNativeControl required [(ngModel)]="amount" [value]="''+adjustedValue()" placeholder="Ajuster le solde" name="amount">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mode de paiement</mat-label>
          <mat-select [(ngModel)]="selectedPaymentType" required name="type">
            <mat-option [value]="paymentType.CASH">Liquide</mat-option>
            <mat-option [value]="paymentType.CREDIT_CARD">Carte bancaire</mat-option>
            <mat-option [value]="paymentType.BALANCE">Solde</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <button mat-raised-button color="primary" type="submit">{{selectedPaymentType !== paymentType.BALANCE ? "Ajouter" : "Retirer"}}</button>
    </form>
  </mat-card-content>
</mat-card>
