.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1rem;

  & ~ .grid-container {
    margin-top: 1rem;
  }
}

.product-card .mat-card-title:hover,
.product-card img:hover,
.product-card .mat-card-content:hover {
  cursor: pointer;
}

.mat-expansion-panel {
  margin-bottom: 1em;
}
