@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .material-app, .mat-sidenav-container {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  width: 100%;
}

@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }

  .mat-form-field,
  .space .mat-form-field,
  .space button,
  form > div > button:not(.mat-button) {
    flex-grow: 1;
  }
}

form > div, .space {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  gap: 1rem;

  & > * {
    flex: 0 0 auto;
  }
}
