@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-container {
  min-height: 100vh;
}

.mat-table {
  width: 100%;
}

@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }

  .mat-form-field {
    flex-grow: 1;
  }
}

form > div, .space {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  gap: 1rem;

  & > * {
    flex: 0 0 auto;
  }
}
