@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  width: 100%;
}

.mat-form-field {
  ~ .mat-form-field, ~ .mat-checkbox {
    margin-left: 1em;
  }
}

.mat-raised-button ~ .mat-raised-button {
  margin-left: 0.5em;
}
